---
const { title, date } = Astro.props;
---

<html>
  <body style="font-family:sans-serif; max-width: 800px; margin: 40px auto;">
    <a href="/" style="text-decoration:none;">â† Back home</a>

    <h1>{title}</h1>
    {date && <p><i>{date}</i></p>}

    <article>
      <slot />
    </article>
  </body>
</html>
